<% if current_user %>
<div class="column span-16">
<h1>Записи</h1>

<table>
<tr><td># id</td><td>Название записи</td><td>Действия</td>
</tr>		
<% @posts.each do |p| %>
<tr>
<td><%=p.id%>.</td> <td><b><%=p.title%></b></td><td> (<%= link_to 'Редактировать', edit_post_path(p) %> | <%= link_to 'x', p, :confirm => 'Точно? А если подумать?', :method => :delete %>)</td>
</tr>
<% end %>
</table>

<%= link_to 'На главную', root_path %> | <%= link_to 'Добавить >>', new_post_path %>



</div>


<div class="column span-8 last">
<h1>Категории</h1>

<table>
<tr><td># id</td><td>Название категории</td><td>Действия</td>
</tr>		
<% @cats.each do |c| %>
<tr>
<td><%=c.id%>.</td> <td><b><%=c.category%></b></td><td> (<%= link_to 'Редактировать', edit_blogcat_path(c) %> | <%= link_to 'x', c, :confirm => 'Точно? А если подумать?', :method => :delete %>)</td>
</tr>
<% end %>
</table>

<%= link_to 'На главную', root_path %> | <%= link_to 'Добавить >>', new_blogcat_path %>

</div>
<% else %>
Сорри, только для админчегов :)
<%= link_to 'Войти?', login_path %> 
<% end %>
