<div id="container">
<div id="content">	
	<h1>Blog</h1>
<% @posts.each do |post| %>
	<div class="padmin">
			<% if current_user %>
	    <%= link_to 'Edit', edit_post_path(post) %>
	    <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
	    	<% end %>
	</div> 	

	<div class="ptitle">
		<%= link_to post.title, post %>
	</div>
	
	<div class="pinfo">
		
		<span class="pcat"><%= Blogcat.find(post.cat_id).category %></span> — <span class="ptime"><%=post.created_at.strftime("%d.%m.%Y")%></span>
	</div>

	<div class="pcontent">
	    <%= raw post.content %>
	</div>



<% end %>
</div>
</div>

<aside id="sideRight">
<h1>Nav</h1>

<%= link_to 'Simple apps', simpleapps_path %>
</aside>