	<ul id="menutop">
		<li><%= link_to "Кубик", kubik_path %></li>
		<li><%= link_to "Решения", decision_path %></li>
		<li><%= link_to "Happy Timer", happydays_path %></li>
		<li><%= link_to "Дисперсия", capitalcost_path %></li>
		<li><%= link_to "FV", fvcalcs_path %></li>
		<li><%= link_to "Math", math_path %></li>
	</ul>