<div align="center">
<h2>Эксперемент со стоимостью капитала</h2>

<p>Генерируем базовую стоимость активов = <%= @presentprice %> USD, среднюю доходность <%= @averageprof %>.</p>

<p>Получаем дисперсию <%= @dispersia %> из <%=@sravnenie%> сравнений.</p>

<FORM>
<INPUT TYPE="button" onClick="history.go(0)" VALUE="Получить решение!">
</FORM>

<script type="text/javascript">
var chart;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container',
         defaultSeriesType: 'column'
      },
      title: {
         text: 'График'
      },
      xAxis: {
         categories: [<%= @sravnenietimes %>]
      },
      yAxis: {
   title: {
            text: 'Стоимость актива, $'
         }
      },
      tooltip: {
         formatter: function() {
            return ''+
                this.series.name +': '+ this.y +'';
         }
      },
      credits: {
         enabled: false
      },
      series: [{
         name: 'Фактическая стоимость актива',
         data: [<%= @newvalues %>]
      }, {
         name: 'Отклонение от ожидаемой стоимости',
         data: [<%= @newvaluesdev %>]
      }, {
           type: 'scatter',
         name: 'Ожидаемая стоимость',
         data: [<%= @fvtimes %>]
      }      ]
   });
   
   
});
   
</script>
<div id="container" style="width: 100%; height: 400px"></div>



</div>