	<% if current_user %>
	<a href="/users/<%= User.find(session[:user_id]).id %>"><b><%= User.find(session[:user_id]).name %></b></a> (<%= User.find(session[:user_id]).score %>) | <%= link_to 'Logout', log_out_path %>
	<% else %>
	<%= link_to 'Login', login_path %> or <%= link_to 'Register', register_path %> 
	<% end %>
	
	<div>
	<% if admin_user %>
	Admin options: <%= link_to 'Add Post', new_post_path %> | <%= link_to 'AdminPanel', adm_path %>
	<% else %>	
	<% end %>
	</div>