<!DOCTYPE html>
<html>
<head>
  <title>Finapps</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>
<body>
<div id="wrapper">
<header id="header">
	<p id="notice"><%= notice %></p>
	
	<ul id="menutop">
		<li><%= link_to "Главная", "/" %></li>
	</ul>
</header>
<section id="middle">
<%= yield %>
</section>
<footer id="footer">
	<% if current_user %>
	<%= link_to 'Добавить запись', new_post_path %> | <%= link_to 'Админко', adm_path %> | <%= link_to 'Выйти', log_out_path %>
	<% else %>
	<%= link_to 'Войти', login_path %> 
	<% end %>
</footer>
</div>
</body>
</html>
